<<<<<<< HEAD
<%- include('header') %>

<head>
    <title>Neovis.js Simple Example</title>
    <style type="text/css">
        html,
        body {
            font: 16pt arial;
        }

        #viz {
            width: 900px;
            height: 700px;
            border: 1px solid lightgray;
            font: 22pt arial;
        }
    </style>
</head>

<body onload="draw()">
    <div id="viz"></div>
</body>
<script src="https://cdn.neo4jlabs.com/neovis.js/v1.4.0/neovis.js"></script>
<script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>
=======
<%- include('header')%>

<script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>

>>>>>>> 895b579e2fed3942da930eb730996ff0ceb08ebe
<script type="text/javascript">

    var viz;

    function draw() {
        var config = {
            container_id: "viz",
            server_url: "neo4j://localhost:7687",
            server_user: "neo4j",
<<<<<<< HEAD
            server_password: "neo4j",
=======
            server_password: "root",
>>>>>>> 895b579e2fed3942da930eb730996ff0ceb08ebe
            labels: {
                "State": {
                    "caption": "name"
                },

<<<<<<< HEAD
                "HIGH_EDUCATION_INSTITUTION": {
                    "caption": "VU_NAZIV"
                },

                "Employee": {
                    "caption": "ZAP_IME"
                },

                "CONTRACT_HISTORY": {
                    "caption": "UG_BROJ_UGOVORA"
                },

                "DOCCUMENTS_OF_EMPLOYMENT": {
                    "caption": "UG_GODINA"
                }
            },
            relationships: {

            },
            initial_cypher:
                "MATCH (n)-[r]->(m) RETURN n,r,m"
=======
                "Institution": {
                    "caption": "name"
                }
            },
            // relationships: {
            //     "BELONGS_TO": {
            //         "thickness": "weight",
            //         "caption": true
            //     },
            //     "IS_IN": {
            //         "thickness": "weight",
            //         "caption": true
            //     }
            // },
            initial_cypher: "MATCH (n)-[r]->(m) RETURN n,r,m"
>>>>>>> 895b579e2fed3942da930eb730996ff0ceb08ebe
        };

        viz = new NeoVis.default(config);
        viz.render();
    }
</script>

<<<<<<< HEAD
</html>
<%- include('footer') %>
=======
<body onload="draw()">
    <div id="viz"></div>
</body>

<%- include('footer')%>
>>>>>>> 895b579e2fed3942da930eb730996ff0ceb08ebe
