<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Externa CSS stylesheet-->
    <link rel="stylesheet" href="/public/stylesheets/style.css" />

<body>
    <div class="container-fluid">
        <nav>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/getAllStates">States</a>
                </li>
                <li>
                    <a class="nav-link" href="/getAllPopulatedPlaces">Populates places</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/getAllInstitutions">Institutions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/getAllCourses">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/getAllEmployees">Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/getAllContractHistory">Contract History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/getDocumentOfEmployement">Document of Employement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/graphRepresentation">Graph Representation</a>
                </li>
            </ul>
        </nav>