#add {
    margin: 5px;
    color: white;
}

span {
    color: red;
}

.toggleable-states {
    background: purple;
    display: none;
}

input[type=checkbox]:checked+.toggleable-states {
    display: block;
}
